# Dotfiles that I don't want in my dotfiles
.DS_Store
*.old
/.*
/Applications/*
/Desktop/*
/Documents/*
/Downloads/*
/Library/*
/Movies/*
/Music/*
/Pictures/*
/Projects/*
/Public/*
/bin/*
/britco.yml


# User configuration
!/.config


# Fonts
!/Library/Fonts


# Wallpapers
!/Pictures/Wallpapers


# Atom packages & artifacts
!/.atom/.apm
!/.atom/.node-gyp
!/.atom/.npm
!/.atom/blob-store/*
!/.atom/compile-cache/*
!/.atom/dev/*
!/.atom/packages/*
!/.atom/storage/*


# ZSH files
/.config/zsh/local.zsh
/.config/zsh/private/*
!/.config/zsh/private/README.zsh
/.zcompdump


# Emacs state
.emacs.d/*
.emacs~


# Vim files
!.vim
/.vim/plugged/*
/.vim/tmp/*
!/.vim/tmp/undo/README.md
!/.vim/tmp/backup/README.md
!/.vim/tmp/swap/README.md

# Git configuration
!/.gitconfig

# Pentadactyl configuration
!/.pentadactylrc
