# Ignore specific file types
*.h
*.gypi
*~

# Non-user-configuration oriented binary files
/.local/bin/*
!/.local/bin/user-*
/.local/bin/user-local-*


# Ignore non-git hidden files by default
/.*
!/.git*
!/.local
!.profile


# Ignore specific local .local/etc data
/.local/etc/QtProject.conf
/.local/etc/Signal
/.local/etc/Signal-*
/.local/etc/Slack
/.local/etc/Synergy
/.local/etc/Trolltech.conf
/.local/etc/autostart
/.local/etc/bitcoin
/.local/etc/chromium
/.local/etc/compiz-*
/.local/etc/configstore
/.local/etc/dconf
/.local/etc/emaildefaults
/.local/etc/evolution
/.local/etc/go
/.local/etc/goa-*
/.local/etc/gocode
/.local/etc/gtk-*
/.local/etc/hub
/.local/etc/ibus
/.local/etc/inform.yml
/.local/etc/krita*
/.local/etc/libaccounts*
/.local/etc/libreoffice
/.local/etc/monitors.xml
/.local/etc/n
/.local/etc/nautilus
/.local/etc/nw
/.local/etc/openvpn/*.ovpn
/.local/etc/pithos.ini
/.local/etc/pulse
/.local/etc/teamviewer
/.local/etc/totem
/.local/etc/touchegg
/.local/etc/unity
/.local/etc/update-notifier
/.local/etc/user-*
/.local/etc/vlc
/.local/etc/xbuild
/.local/etc/xmms2
/.local/etc/yelp
/.local/etc/zoomus.conf

# Python virtual environments
/.local/venvs

# Ignore local-only data
/.local/doc
/.local/var
/.local/lib
/.local/man

# N installer makes a huge mess
/.local/.n
/.local/n
/.local/n-*
/.local/node
/.local/node_modules/
/.local/npm
/.local/npx
/.local/etc/versions

# Dotfiles that I don't want in my dotfiles
.DS_Store
*.old
/Applications/*
/Desktop/*
/Documents/*
/Downloads/*
/Library/*
/Movies/*
/Music/*
/Pictures/*
/Projects/*
/Public/*
/Videos/*
/VirtualBox VMs/*
/Dropbox/*
/Audio/*


# Common user scripts
!/bin/user-*
!/.local/etc/user-*


# Compositor script
!/bin/compose


# Rotation of background images
!/bin/rotate_backgrounds


# Fonts
!/.fonts
/.fonts/Soleil-*


# Custom scripts
!/bin/rf


# Fonts
!/Library/Fonts


# Wallpapers
!/Pictures/Wallpapers
/Pictures/Wallpapers/Pokemon


# Atom packages & artifacts
!/.atom/.apm
!/.atom/.node-gyp
!/.atom/.npm
!/.atom/blob-store/*
!/.atom/compile-cache/*
!/.atom/dev/*
!/.atom/packages/*
!/.atom/storage/*


# ZSH files
/.local/etc/zsh/local/*.zsh
/.local/etc/zsh/private/*.zsh
/.zcompdump


# Emacs state
.emacs.d/*
.emacs~


# Vim files
!.vim

/.local/etc/nvim/plugged/*
/.local/etc/nvim/tmp/*
/.local/etc/nvim/.netrwhist

!/.local/etc/nvim/tmp/undo/README.md
!/.local/etc/nvim/tmp/backup/README.md
!/.local/etc/nvim/tmp/swap/README.md


# Git configuration
!/.gitconfig


# Pentadactyl configuration
!/.pentadactylrc


# Various Linux configurations
!/.xbindkeysrc


# Steam games
/Games/*
/My Games/*
/Steam/*


# Game engines
/.local/etc/unity3d/*


# Miscellaneous unix tools
!/.ctags
!/.screenrc
!/.mutt


# xinit
!/.xinit*


# Dynamic Window Manager
/.local/etc/dwm/*
!/.local/etc/dwm/Makefile


# URXVT configurations
!/.urxvt


# CDM configuration
!/.cdmrc


# Hyper terminal
/.local/etc/Hyper/*
!/.local/etc/Hyper/config.json
