# Ignore non-git hidden files by default
/.*
!/.git*
!/.config


# Ignore specific local .config data
/.config/Slack
/.config/Trolltech.conf
/.config/bitcoin
/.config/chromium
/.config/compiz-*
/.config/configstore
/.config/dconf
/.config/evolution
/.config/go
/.config/gocode
/.config/gtk-*
/.config/hub
/.config/ibus
/.config/inform.yml
/.config/libaccounts*
/.config/libreoffice
/.config/monitors.xml
/.config/nautilus
/.config/pithos.ini
/.config/pulse
/.config/totem
/.config/touchegg
/.config/unity
/.config/update-notifier
/.config/user-*
/.config/virtualenvs
/.config/xbuild
/.config/xmms2
/.config/zoomus.conf


# Dotfiles that I don't want in my dotfiles
.DS_Store
*.old
/Applications/*
/Desktop/*
/Documents/*
/Downloads/*
/Library/*
/Movies/*
/Music/*
/Pictures/*
/Projects/*
/Public/*
/Videos/*
/bin/*
/britco.yml
/VirtualBox VMs/*


# Fonts
!/.fonts
/.fonts/Soleil-*

# Custom scripts
!/bin/rf


# Fonts
!/Library/Fonts


# Wallpapers
!/Pictures/Wallpapers
/Pictures/Wallpapers/Pokemon


# Atom packages & artifacts
!/.atom/.apm
!/.atom/.node-gyp
!/.atom/.npm
!/.atom/blob-store/*
!/.atom/compile-cache/*
!/.atom/dev/*
!/.atom/packages/*
!/.atom/storage/*


# ZSH files
/.config/zsh/local.zsh
/.config/zsh/private/*.zsh
/.zcompdump


# Emacs state
.emacs.d/*
.emacs~


# Vim files
!.vim

/.vim/plugged/*
/.vim/tmp/*
/.vim/.netrwhist

!/.vim/tmp/undo/README.md
!/.vim/tmp/backup/README.md
!/.vim/tmp/swap/README.md


# Git configuration
!/.gitconfig


# Pentadactyl configuration
!/.pentadactylrc


# Various Linux configurations
!/.xbindkeysrc


# Steam games
/Steam/*


# Miscellaneous unix tools
!/.ctags
!/.screenrc
!/.mutt


# Synergy
/.config/Synergy/*


# TeamViewer
/.config/teamviewer/*


# Dynamic Window Manager
/.config/dwm/*
!/.config/dwm/Makefile


# URXVT configurations
!/.urxvt

# CDM configuration
!/.cdmrc
