[submodule ".config/solarized"]
	path = .config/solarized
	url = https://github.com/altercation/solarized
[submodule ".config/zsh/external/zsh-autosuggestions"]
	path = .config/zsh/external/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
