[submodule ".config/solarized"]
	path = .local/etc/solarized
	url = https://github.com/altercation/solarized
[submodule ".config/zsh/external/zsh-autosuggestions"]
	path = .local/etc/zsh/external/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/tmux/plugins/tpm"]
	path = .local/etc/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".local/share/pyenv"]
	path = .local/share/pyenv
	url = https://github.com/pyenv/pyenv
[submodule ".local/share/neofetch"]
	path = .local/share/neofetch
	url = https://github.com/dylanaraps/neofetch
