[user]
	name = Brandon R. Stoner
	email = monokrome@limpidtech.com

[push]
	default = matching

[core]
	witespace=blank-at-eol,space-before-tab,tab-in-indent,blank-at-eof,cr-at-eol,tabwidth=2
	excludesfile = /Users/monokrome/.config/.gitignore_global
	precomposeunicode = true
	preloadindex = true
	compression = 9
	safecrlf = true
	editor = vim
	eol = lf

[github]
	user = monokrome

[help]
	autocorrect = 1

[advice]
	pushNonFastForward = false
	statusHints = false
	commitBeforeMerge = false
	resolveConflicts = false
	implicitIdentity = false
	detachedHead = false
	amWorkDir = false

[branch]
	autosetuprebase = always
