[user]
	name = Brandon R. Stoner
	email = monokrome@limpidtech.com

[push]
	default = matching

[core]
	excludesfile = /Users/monokrome/.config/.gitignore_global
	precomposeunicode = true
	eol = lf

[github]
	user = monokrome

[help]
	autocorrect = 1

[advice]
	pushNonFastForward = false
	statusHints = false
	commitBeforeMerge = false
	resolveConflicts = false
	implicitIdentity = false
	detachedHead = false
	amWorkDir = false
