[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DWM
Exec=dwm
NoDisplay=true
X-GNOME-WMName=DWM
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
